RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<IfModule mod_rewrite.c>
#   Options -MultiViews
#   RewriteEngine On
#   ErrorDocument 404 /404.php
   #RewriteCond %{REQUEST_FILENAME} !-f
   #RewriteRule ^ index.php [QSA,L]
#</IfModule>
