{% extends "layout/default.twig" %}

{% block content %}
<ul>
    {% for category in categories %}
    <li><a href="{{ uri(category.route, {'slug': category.slug,
            'id': category.id} ) }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{{ paginate | raw }}
{% endblock %}