<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bread Beer Shop</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css"">
</head>

<body>
<div>
  <header class="menu" >
    <input type="checkbox" class= "burger">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/boutique">Boutique</a></li>
        {% if session.auth %}
        <li><a href="/purchase">Bon de commande</a></li>
        <li><a href="/profil">Profil</a></li>
        <li><a href="/deconnexion">Déconnexion</a></li>
        {% else %}
        <li><a href="/connexion">Connexion</a></li>
        <li><a href="/inscription">Inscription</a></li>
        {% endif %}
    	<li><a href="/blog">Blog</a></li>
    	<li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

<div>
  {% if session.success %}
    <div style="background-color: lightgreen; color: black; text-align: center;">
    {{session.success}}
    </div>
  {% endif %}

  {% if session.error %}
    <div style="background-color: red; text-align: center; color: black;">
    {{session.error}}
    </div>
  {% endif %}
</div>
  </header >
  <section class="container">
  <h1 class="titreduhaut">{% block title %}Bread Beer Shop - {{title}}{% endblock %}</h1>
  {% block content %}

  {% endblock content %}
  </section>
	<footer>
		<nav>
			<ul>
				<li><a href="/mentions">Mentions Légales</a></li>
				<li><a href="/cgv">CGV</a></li>
			</ul>
		</nav>
	</footer>
</div>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>