<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bread Beer Shop</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css"">
</head>

<body>
<div>
  <header class="menu" >
    <input type="checkbox" class= "burger">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/boutique">Boutique</a></li>
        {% if session.auth %}
        <li><a href="/purchase">Bon de commande</a></li>
        {% if session.qtypanier > 0 %}
        <li><a id="panier" href="/cart">Panier({{session.qtypanier}})</a></li>
        {% else %}
        <li><a id="panier" href="/cart"></a></li>
        {% endif%}
        <li><a href="/profil">Profil</a></li>
        <li><a href="/deconnexion">Déconnexion</a></li>
        {% else %}
        <li><a href="/connexion">Connexion</a></li>
        <li><a href="/inscription">Inscription</a></li>
        {% endif %}
    	<li><a href="/contact">Contact</a></li>
    	<li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
</header >

  <section class="container">
  <h1 class="titreduhaut">{% block title %}Bread Beer Shop - {{title}}{% endblock %}</h1>
<div>
  {% if session.success %}
  <div class="msgsuccess">
    {{session.success}}
    </div>
  {% endif %}

  {% if session.error %}
    <div class="msgerror">
    {{session.error}}
    </div>
  {% endif %}
</div>
  {% block content %}

  {% endblock content %}
  </section>
	<footer>
		<nav>
			<ul>
				<li><a href="/mentions">Mentions Légales</a></li>
				<li><a href="/cgv">CGV</a></li>
			</ul>
		</nav>
	</footer>
</div>
	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://js.stripe.com/v3/"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/script.js"></script>
</body>
</html>