{% extends "/layout/admindefault.twig" %}

{% block content %}

<section class="admin-posts">
	<h2>Ajouter un article</h2>
	<form class="onePost" method="POST" action="" id="formOrder">
		<div class="form_row">
			<input type="text" name="name" placeholder="Nom de l'article"/>
		</div>
		<div class="form_row">
			<input type="text" name="slug" placeholder="Slug"/>
		</div>
		<div class="form_row">
			<textarea name="content" id="" cols="30" rows="10" placeholder="Contenu"></textarea>
		</div>
		<div class="form_row">
		{% for category in categories %}
			<div>
				<input type="checkbox" name="{{ category.id }}" id="{{ category.id }}">
				<label for="{{ category.id }}">{{ category.name }}</label>
			</div>
		{% endfor %}
		</div>
		<button type="submit">Ajouter</button>
	</form>
</section>

{% endblock %}