{% extends "layout/sitebiere.twig" %}

{% block content %}
<form method="POST" name="{{title}}" action="/connexion">
<div class="form-group">
    <label for="mail">votre courriel</label>
    <input class="form-control" id="mail" type="email" name="mail" value="{{user.mail}}" required></div>
<div class="form-group">
    <label for="mail">votre mot de passe</label>
    <input class="form-control" id="password" type="password" name="password" value="" required></div>
<div class="centrer">
    <div><button type="submit">Envoyer</button></div>
</div>
<div class="centrer"><span class="centrer"><a href="/resetpwd">mot de passe oublié</a></span></div>
</form>
{% endblock content %}