{% extends "layout/sitebiere.twig" %}

{% block content %}
<form method="POST" name="{{title}}" action="/resetpwd">
<p>Pour récupérer votre compte, saisissez votre adresse mail de connexion pour recevoir votre mot de passe</p>
<div class="form-group">
    <label for="mail">votre courriel</label>
    <input id="mail" type="email" name="mail" value="{{user.mail}}" required></div>
<button type="submit">Envoyez</button>

</form>
{% endblock content %}